.navbar-brand .logo {
    height: 40px; 
    margin-right: 10px; /* Space between logo and text */
    vertical-align: middle; 
}



body {
    font-family: Arial, sans-serif;
}

.landing-section {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: url('resources/landing_pic.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    min-height: 666px;
}

.landing-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay */
}

.landing-section .container {
    position: relative;
    z-index: 2;
    text-align: center;
}

.quotes-section {
    padding: 60px 0;
    background-color: #001f3f; /* Navy blue background */
    color: white; /* White text */
    text-align: center;
}

.quotes-section h2 {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 2.5rem;
}

.quotes-wrapper {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 20px;
    animation: fadeInOut 10s linear infinite;
    opacity: 0;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}


.footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    position: fixed;
    width: 100%;
    bottom: 0;
}